.buttons .container {
    text-align: center;
}


#btnPayment{
    width: 200px;
    height: 40px;
    padding: .8em 0 10px .8em;
    background-color: #555555;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Exo 2 M';
    border-radius: 10px;
}
#btnPayment:hover {
    background-color: #cdcdcd; }

#btnRent {
    width: 100px;
    height: 40px;
    padding: .8em 0 10px .8em;
    background-color: #555555;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Exo 2 M';
    border-radius: 10px;
}
#btnRent:hover {
    background-color: #cdcdcd; }