.buttons .container {
    text-align: center;
}


#btnPayment{
    background: #373737;
    color: #e6e6e6;
    border: 0;
    z-index: 20;
    text-transform: uppercase;
    font-family: 'Exo 2 M';
    height: 44px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 200px;
    font-size: 17px;
    margin: 0 auto;
}

#btnRent{
    background: #373737;
    color: #e6e6e6;
    border: 0;
    z-index: 20;
    text-transform: uppercase;
    font-family: 'Exo 2 M';
    height: 25px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 100px;
    font-size: 14px;
    margin: 0 auto;
}